<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Reviews</h1>
    <div class="row">
      <% @reviews.each do |review| %>
        <div class="col s6">
            <div class="card">
              <div class="card-image">
              </div>
              <div class="card-content">
                <p class="flow-text"><%= review.name %></p>
                <p><%= review.description %></p>
              </div>
              <div class="card-action">
                <%= link_to 'View', review %>
               </div>
            </div>
        </div>
      <% end %>
    </div>
    <div class="center" style="width: 728px; height: 90px; background: #428bca; color: #fff; line-height: 90px; text-align: center; ">LEADERBOARD</div>
</div>

